.letter {
    width: 80px;
    text-align: center;
    display: inline-block;
    font-size: 4rem;
    border-bottom: 10px solid #4f6cce;
    color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.2s linear 0s;
}
.letter.visible {
    color: #fafafa;
    border-bottom-color: limegreen;
}